<html>
<head>
    <title>login information</title>
    <style>
body {
        background-image: url("http://www.nmgncp.com/data/out/177/5127260-hd-wallpapers-5k.jpg");
}

</style>
</head>
<body>
<td colspan=2><center><font size=4><b>
        <div class="background-image"></div>
        <div class="content">

        </div><br><br><br><br><br><br><br><br>
 registered successfully... try login !
       <form action="/login/" method="get"><br><br><br><br><br>
           <input type ="submit"style="background-color:#07c ;height:35px; width:100px " class="btn btn-default" value="LOGIN">
       </form>
</body>
</html>

